<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs") %>

            <section>
                <article>
                    <h1 class="titulo">Añadir Un Producto</h1>
                </article>

                <article>
                    <div>

                        <form action="" method="POST" enctype="multipart/form-data" class="formulario">

                            <label for="nombre">Nombre</label><br>
                            <input type="text" name="nombre" id="nombre" autocomplete="off">

                            <label for="description"> Descripción </label>
                            <input type="text" name="description" id="description" autocomplete="off">


                            <label for="rutaALaImagen">Imagen principal del producto</label>
                            <input id="rutaALaImagen" type="file" name="rutaALaImagen">

                            <label for="rutaImagenesSecundarias">Imagenes secundarias del producto</label>
                            <input id="rutaImagenesSecundarias" type="file" name="rutaImagenesSecundarias"
                                multiple='true'>

                            <label for="category">Categoría</label> <br>
                            <select name="category" id="category">
                                <% categorias.forEach(categoria=>{%>
                                    <option value="<%=categoria.id_categoria%>">
                                        <%=categoria.nombre%>
                                    </option>
                                    <%})%>
                            </select> <br>
                            <!--Saco talle hasta resolver sobre la tabla intermedia de talle/color
                    <label for="talle">Talle</label><br>
                    <input type="text" name="talle" id="talle" autocomplete="off">
                    -->
                            <label for="sexo">Sexo</label><br>
                            <select name="sexo" id="sexo">
                                <% sexos.forEach(sexo=>{%>
                                    <option value="<%=sexo.id_sexo%>">
                                        <%=sexo.nombre%>
                                    </option>
                                    <%})%>
                            </select><br>
                            <label for="marca">Marca</label><br>
                            <select name="marca" id="marca">
                                <% marcas.forEach(marca=>{%>
                                    <option value="<%=marca.id_marca%>">
                                        <%=marca.nombre%>
                                    </option>
                                    <%})%>
                            </select><br>
                            <label for="talles">Talles</label><br>
                            <select name="talles" id="talles" multiple>
                                <% talles.forEach(talle=>{%>
                                    <option value="<%=talle.id_talle%>">
                                        <%=talle.nombre%>
                                    </option>
                                    <%})%>
                            </select><br>
                            <label for="precio">Precio</label><br>
                            <input type="number" name="precio" id="precio" autocomplete="off">

                            <button class="enviar">Registrar Producto</button>


                        </form>
                    </div>

                </article>

            </section>




            <%- include("../partials/footer.ejs") %>
    </body>

</html>