<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs") %>
    <main class="detalleDeProducto">
        <div class="sin-borde">
        <nav class="pathDeCategorias">
            <un>
                <li><a href="/">Incio</a></li>  <i class="fas fa-long-arrow-alt-right"></i>
                <li><a href="#"><%=producto.proCateg.nombre%></a></li>  <i class="fas fa-long-arrow-alt-right"></i> 
                <li><a href="#"><%=producto.nombre%></a></li>
            </un>
        </nav>
    </div>
    <div>
        <section class="mostrador">
            <div class="selector-imagenes">
                <% for(let i = 0; i < producto.imagenes.length; i++){
                    if(i < 3){%>
                <figure><img src="/uploads/productImage/<%=producto.imagenes[i].rutaImagen%>" alt="imagen secundaria"></figure>
                <%}}%>
            </div>
            <div class="imagen-principal">
                <figure><img src="/uploads/productImage/<%=producto.imagenPrincipal?producto.imagenPrincipal.rutaImagen : ''%>" alt="detalle de imagen seleccionada"></figure>
            </div>
            <div class="caja">
                <h1><%=producto.nombre%><br>
                    <%=producto.proCateg.nombre%>
                </h1>
                <p class="precio"><%=producto.precio%></p>
                <div class="reseñasLite">
                    <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                    <p>11 Reseñas</p>
                </div>
                <form action="/products/carrito" method="get">
                    <p>TALLE | <a href="#"><i class="fas fa-tshirt"></i> VER TABLA DE TALLES</a></p>
                    <div class="selectorTalles">
                        <%
                        if (producto.talles){
                        producto.talles.forEach(esteTalle => {%>
                            <span>
                                <input type="radio" name="talle" value="<%=esteTalle.id_talle %>" id="talleChoice<%=esteTalle.id_talle %>">
                                <label class="cajaGris" for="talleChoice<%=esteTalle.id_talle %>"><%=esteTalle.nombre%></label>
                            </span>
                        <%})}%>
                      </div>
                      <div class="cantidad-comprar">
                        <div class="cantidad">
                            <button class="cajaGris" name="resta uno al pedido" onclick="brrrRESTA" type="button"><i class="fas fa-minus"></i></button><input class="cajaGris" type="number" placeholder="1"><button class="cajaGris" name="suma uno al pedido" onclick="brrrSUMA" type="button"><i class="fas fa-plus"></i></button>
                        </div>
                        <button name="agregar al carrito" class="comprar" type="submit">COMPRAR</button>
                      </div>
                </form>
            </div>
        </section>
    </div>
    <div>
        <section class="resumen">
            <p><%=producto.descripcion%></p>
            <div class="compartir-redes">
                <p>Compartir producto</p>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </section>
    </div>
    <%if(producto.tecnologias){%>
    <div>
        <section class="tecnologias">
                <h2>TECNOLOGIAS</h2>
                <input type="checkbox" name="" id="checkTecnologias">
                <label class="cajaGris check-mas" for="checkTecnologias"><i class="fas fa-plus"></i></label>
                <label class="cajaGris check-menos" for="checkTecnologias"><i class="fas fa-minus"></i></label>
                <div>
                    <%=producto.tecnologias%>
                </div>
        </section>
    </div>
    <%}%>
    <%if(producto.descripcionDetallada){%>
    <div>
        <section class="descripcion-detallada">
                <h2>DESCRIPCION DETALLADA</h2>
                <input type="checkbox" name="" id="checkDesc">
                <label class="cajaGris check-mas" for="checkDesc"><i class="fas fa-plus"></i></label>
                <label class="cajaGris check-menos" for="checkDesc"><i class="fas fa-minus"></i></label>
                <div>
                    Items interesantes y detallados hardcodeados:
                    <ul>
                        <li>Nostrum voluptatem numquam ipsa eligendi provident atque quo veniam neque non cum incidunt</li>
                        <li>Ipsum dolor sit amet</li>
                        <li>Saepe minus sit earum nulla quos quaerat odit</li>
                        <li>Quasi saepe</li>
                        <li>Voluptatem numquam ipsa eligendi</li>
                    </ul>
                </div>
        </section>
    </div>
    <%}%>
    <!--
    <div>
        <section class="reseñas">
                <h2>RESEÑAS</h2>
                <input type="checkbox" name="" id="checkReseñas">
                <label class="cajaGris check-mas" for="checkReseñas"><i class="fas fa-plus"></i></label>
                <label class="cajaGris check-menos" for="checkReseñas"><i class="fas fa-minus"></i></label>
                <FORM>
                    <p>ESCRIBIR SU PROPIA RESEÑA</p>
                    <div>
                    <div class="selectorValoracion">
                        <span>VALORACION</span>
                        <input type="radio" name="valoracion" value="1" id="valoracion1">
                        <input type="radio" name="valoracion" value="2" id="valoracion2">
                        <input type="radio" name="valoracion" value="3" id="valoracion3">
                        <input type="radio" name="valoracion" value="4" id="valoracion4">
                        <input type="radio" name="valoracion" value="5" id="valoracion5">
                        <label for="valoracion1"><i class="far fa-star"></i></label>
                        <label for="valoracion2"><i class="far fa-star"></i></label>
                        <label for="valoracion3"><i class="far fa-star"></i></label>
                        <label for="valoracion4"><i class="far fa-star"></i></label>
                        <label for="valoracion5"><i class="far fa-star"></i></label>
                    </div>
                    <div class="selectorDiseño">
                        <span>DISEÑO</span>
                        <input type="radio" name="diseño" value="1" id="diseño1">
                        <input type="radio" name="diseño" value="2" id="diseño2">
                        <input type="radio" name="diseño" value="3" id="diseño3">
                        <input type="radio" name="diseño" value="4" id="diseño4">
                        <input type="radio" name="diseño" value="5" id="diseño5">
                        <label for="diseño1"><i class="far fa-star"></i></label>
                        <label for="diseño2"><i class="far fa-star"></i></label>
                        <label for="diseño3"><i class="far fa-star"></i></label>
                        <label for="diseño4"><i class="far fa-star"></i></label>
                        <label for="diseño5"><i class="far fa-star"></i></label>
                    </div>
                    <div class="selectorCalce">
                        <span>CALCE</span>
                        <input type="radio" name="calce" value="1" id="calce1">
                        <input type="radio" name="calce" value="2" id="calce2">
                        <input type="radio" name="calce" value="3" id="calce3">
                        <input type="radio" name="calce" value="4" id="calce4">
                        <input type="radio" name="calce" value="5" id="calce5">
                        <label for="calce1"><i class="far fa-star"></i></label>
                        <label for="calce2"><i class="far fa-star"></i></label>
                        <label for="calce3"><i class="far fa-star"></i></label>
                        <label for="calce4"><i class="far fa-star"></i></label>
                        <label for="calce5"><i class="far fa-star"></i></label>
                    </div>
                    </div>
                    <input type="text" placeholder="APODO" name="apodo">
                    <input type="text" placeholder="RESUMEN DE SU RESEÑA" name="resumen-reseña">
                    <textarea placeholder="RESEÑA" name="reseña"></textarea>
                    <button name="enviar-reseña" type="submit">ENVIAR RESEÑA</button>
                </FORM>
        </section>
    </div>
    -->
    <div>
        <section class="talles">
                <h2>TALLES</h2>
                <input type="checkbox" name="" id="checkTalles">
                <label class="cajaGris check-mas" for="checkTalles"><i class="fas fa-plus"></i></label>
                <label class="cajaGris check-menos" for="checkTalles"><i class="fas fa-minus"></i></label>
            <div>
                <table>
                    <thead>
                      <tr>
                        <th>USA</th>
                        <th>ARG</th>
                        <th>CM</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>8.5</td>
                        <td>39</td>
                        <td>25.5</td>
                      </tr>
                      <tr>
                        <td>8.5</td>
                        <td>39</td>
                        <td>25.5</td>
                      </tr>
                      <tr>
                        <td>8.5</td>
                        <td>39</td>
                        <td>25.5</td>
                      </tr>
                      <tr>
                        <td>8.5</td>
                        <td>39</td>
                        <td>25.5</td>
                      </tr>
                      <tr>
                        <td>8.5</td>
                        <td>39</td>
                        <td>25.5</td>
                      </tr>
                      <tr>
                        <td>8.5</td>
                        <td>39</td>
                        <td>25.5</td>
                      </tr>
                      <tr>
                        <td>8.5</td>
                        <td>39</td>
                        <td>25.5</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </section>
    </div>
    <div>
        <section class="otros-productos">
            <div class="titulo">
                <div class="linea"></div>
                <h2>TE PUEDE INTERESAR</h2>
            </div>
            <div class="botonera">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                    <i class="fas fa-arrow-alt-circle-right"></i>
            </div>
            <div class="carrusel">
                <% tilesDeProducto.forEach(esteProducto =>{ %>
                    <%- include('../partials/tileDeProducto.ejs',{producto:esteProducto}) %>
                <% }) %>
            </div>
        </section>
    </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>