<div class="partials-tile-de-producto">
    <figure><img src="/uploads/productImage/<%=producto.rutaALaImagen %>" alt="imagen tile <%= producto.nombre %>"></figure>
    <p><%= producto.nombre %></p>
    <p><b><%= producto.precio %></b></p>
    <button>COMPRAR ></button>
    <div class="botoncitos">
        <a href='#'><i class="far fa-heart"></i></a>
        <a href='/products/detalleDeProducto/<%= producto.id %>'><i class="far fa-eye"></i></a>
    </div>
</div>